:root {
  --tint: 20, 20, 20;
  --pl-universal: 30px;
  --genres-button: 229, 9, 20;
  --genres-button-border: 133, 0, 0;
}

body {
  background-color: rgb(var(--tint));
}

.bg-blackish {
  background-color: rgb(var(--tint));
}

h5,
h3 {
  color: white;
}

section,
main {
  padding-left: var(--pl-universal);
  margin-bottom: -1rem;
}

nav {
  font-size: 14px;
}
/* RICORDARE DI MODIFICARE IL BOTTONE */
.btn-sm {
  border-radius: 0%;
  border: 1px solid white;
  background-color: black;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(var(--genres-button));
  border-color: rgba(var(--genres-button-border));
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgba(var(--genres-button));
  border-color: rgba(var(--genres-button-border));
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: rgba(var(--genres-button));
  border-color: rgba(var(--genres-button-border));
  box-shadow: 0 0 0 0.2rem rgba(var(--genres-button, 0.5));
}

/* btn-group mr-auto after navbar */

.btn-secondary {
  color: #fff;
  background-color: #000000;
  border-color: #ffffff;
}

.btn:not(nav .btn:first-of-type) {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid white;
  padding: 0.175rem 0.95rem;
  font-size: 0.5rem;
  line-height: 1;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-group:nth-of-type(3) {
  position: relative;
  transform: scale(0.75);
  top: -0.34rem;
}

/* CAROUSELS */
/* invisible buttons and permits hover on last card of the carousel */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  opacity: 0;
}

.carousel-control-next,
.carousel-control-prev {
  width: 7%;
  z-index: 1000;
}

h5 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

footer {
  color: #808080;
  margin-top: 5rem;
  font-size: 0.8rem;
  cursor: pointer;
}

footer button {
  font-size: 10px !important;
}

.icons {
  position: absolute;
  top: -2rem;
  transform: scale(1.1);
  margin-right: 1rem;
}

.icons svg {
  margin-right: 0.3rem;
}

.footer-button {
  position: absolute;
  top: 8rem;
}

.copyright {
  position: absolute;
  bottom: -6rem;
  white-space: nowrap;
}

main img:hover {
  position: relative;
  transform: scale(1.2);
  filter: brightness(0.4);
  z-index: 999;
}

main img {
  transition: transform 300ms cubic-bezier(0.39, 0.67, 0.34, 1.06);
}

/* If i put the transition in the hover i can cut the reverse animation */
/* this should be adjusted for small screens */
main img:hover + svg,
img:hover + svg + span {
  position: relative;
  top: -2rem;
  transform: scale(2);
  z-index: 999999;
  color: white;
  overflow: hidden;
  opacity: 100;
  transition: opacity 1000ms cubic-bezier(0.39, 0.67, 0.34, 1.06);
}

main img + svg,
img + svg + span {
  opacity: 0;
}

.col-2 svg + span {
  margin-left: 0.5rem;
}

footer .sm-icons {
  transform: scale(1.5);
}
footer .sm-icons svg {
  margin-right: 0.3rem;
}

.carousel-inner {
  margin-bottom: -2rem;
}

.hide {
  display: none;
}

/* resizing play button and writes on hover */
@media screen and (max-width: 768px) {
  main img:hover + svg,
  img:hover + svg + span {
    transform: scale(1);
    font-size: 10px;
    margin: 0;
  }
}
