:root {
  --tint: 20, 20, 20;
  --pl-universal: 30px;
  --genres-button: 229, 9, 20;
  --genres-button-border: 133, 0, 0;
}

body {
  background-color: rgb(var(--tint));
}
.bg-blackish {
  background-color: rgb(var(--tint));
}

h5,
h3 {
  color: white;
}

section,
main {
  padding-left: var(--pl-universal);
}
/* RICORDARE DI MODIFICARE IL BOTTONE */
.btn-sm {
  border-radius: 0%;
  border: 2px solid white;
  background-color: black;
}

.btn-primary:hover {
  color: #fff;
  background-color: rgba(var(--genres-button));
  border-color: rgba(var(--genres-button-border));
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: rgba(var(--genres-button));
  border-color: rgba(var(--genres-button-border));
}

.btn-primary.focus,
.btn-primary:focus {
  color: #fff;
  background-color: rgba(var(--genres-button));
  border-color: rgba(var(--genres-button-border));
  box-shadow: 0 0 0 0.2rem rgba(var(--genres-button, 0.5));
}

/* btn-group mr-auto after navbar */

.btn-secondary {
  color: #fff;
  background-color: #000000;
  border-color: #ffffff;
}

.btn:not(nav .btn:first-of-type) {
  display: inline-block;
  font-weight: 400;
  color: white;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid white;
  padding: 0.175rem 0.95rem;
  font-size: 0.5rem;
  line-height: 1;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-group:nth-of-type(3) {
  position: relative;
  transform: scale(0.75);
  top: -0.34rem;
}

/* CAROUSELS */
/* invisible buttons */
.carousel-control-next-icon,
.carousel-control-prev-icon {
  opacity: 0;
}

h5 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

footer {
  color: #808080;
  margin-top: 5rem;
  font-size: 0.8rem;
}

footer button {
  font-size: 10px !important;
}

.icons {
  position: absolute;
  top: -2rem;
  transform: scale(1.1);
  margin-right: 1rem;
}

.icons svg {
  margin-right: 0.3rem;
}

.footer-button {
  position: absolute;
  top: 8rem;
}

.copyright {
  position: absolute;
  bottom: -7rem;
  white-space: nowrap;
}

footer .sm-icons {
  transform: scale(1.2);
}
footer .sm-icons svg {
  margin-right: 0.3rem;
}
